<!DOCTYPE html>
<!--[if lt IE 9 ]> <html lang="en-GB" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    
    <meta name="viewport" content="width=device-width">
		<title>{% block title %}Avalon App | Technical Demo{% endblock %}</title>

		<!-- CSS + Favicon -->
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		{{ "normalize.css" | asset_url | stylesheet_tag }}
    
    <!-- Preloader -->
    {{ "preloader.css" | asset_url | stylesheet_tag }}

    <!-- Sliding Header -->
		{{ "demo.css" | asset_url | stylesheet_tag }}
		{{ "layout-simple.css" | asset_url | stylesheet_tag }}
	
		<!-- Flickity -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.min.css">

		<!-- Custom styles -->
		{{ "main.css" | asset_url | stylesheet_tag }}

		{{ "modernizr.custom.js" | asset_url | script_tag }}
		
		{% block styles %}
		<style>
			.loaded .ip-logo{
					opacity: 0;
			}
		</style>
		
		{% endblock %}	
		

</head>
<body class="demo-1">

	<div id="ip-container" class="ip-container">
	{% include "initial-header" %}

	{% block header %}{% endblock %}

	
	{% block content %}{% endblock %}
	</div>


	<!-- <div ui-view></div> -->

{% block footer %}{% endblock %}	

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Library -->
{{ "classie.js" | asset_url | script_tag }}
{{ "bower_components/underscore/underscore.js" | asset_url | script_tag }}

<!-- preloader -->
{{ "pathLoader.js" | asset_url | script_tag }}

<!-- Flickity Slider -->
<script src="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.min.js"></script>

<!-- Hash tag convert -->
{{ "jquery.ba-bbq.js" | asset_url | script_tag }}
{{ "urlobject.js" | asset_url | script_tag }}


<!-- SETUP FOR ANGULAR -->
{{ "bower_components/angular/angular.js" | asset_url | script_tag }}

{{ "bower_components/angular-ui-router/release/angular-ui-router.min.js" | asset_url | script_tag }}

<!-- {{ "app.js" | asset_url | script_tag }} -->
<!-- {{ "home.js" | asset_url | script_tag }} -->

<!-- main js -->
{{ "main.js" | asset_url | script_tag }}

<!-- scripts -->
{{ "scripts.js" | asset_url | script_tag }}


<script>

$(function () {

	//slide container up and down
		var container = document.getElementById( 'container' ),
			trigger = container.querySelector( 'button.trigger' );

		function toggleContent() {
			if( classie.has( container, 'container--open' ) ) {
				classie.remove( container, 'container--open' );
				classie.remove( trigger, 'trigger--active' );

				if($('.opacity-load').hasClass('active')){

					$('.opacity-load').removeClass('active');
					
				}
				window.addEventListener( 'scroll', noscroll );
			}
			else {
				classie.add( container, 'container--open' );
				classie.add( trigger, 'trigger--active' );
				window.removeEventListener( 'scroll', noscroll );
			}
		}

		function noscroll() {
			window.scrollTo( 0, 0 );
		}

		// reset scrolling position
		document.body.scrollTop = document.documentElement.scrollTop = 0;

		// disable scrolling
		window.addEventListener( 'scroll', noscroll );

		trigger.addEventListener( 'click', toggleContent );

		// For Demo purposes only (prevent jump on click)
		// [].slice.call( document.querySelectorAll('.items-wrap a') ).forEach( function(el) { el.onclick = function() { return false; } } );

		//Flickity
		// init Flickity
		var gallery = $('.gallery-main').flickity({
			setGallerySize: false,
			prevNextButtons: false,
			pageDots: false
		});

		function checkURL(){
			// get url of window
			var currentURL = window.location.href;

			//determin if the URL has slide in it
			var name = currentURL.search("slide");
			// var name = currentURL.match(/slide/g); - works too.
			

			if( name > 0 ){

				//convert url to object
				var hash = urlObject({'url': currentURL }).hash;
				
				// strip it of index and turn it to a number
				var index = parseInt(hash.replace("index=slide",""));

				// make gallery go to that number
				gallery.flickity( 'select', index );

			}else{

				// console.log("false");
				// else go to first slide
				gallery.flickity( 'select', 0 );
			}
			
		}

		checkURL();

		//get data for flickity plugin
		var flkty;
		var href;
		var object;
		var option;

		//logs what slide the user is on by passing info to URL
		gallery.on('cellSelect', function(){
			// console.log( flkty.selectedElement.id );

			flkty = gallery.data('flickity');

			// get href attr, remove leading #
			href = flkty.selectedElement.id;

			object = "index="+href;

			option = $.deparam( object, true);
			console.log(option);
			// var href = $(this).attr('href').replace( /^#/, '' ),

			    // convert href into object
			    // i.e. 'filter=.inner-transition' -> { filter: '.inner-transition' }
			// set hash, triggers hashchange on window
			$.bbq.pushState( option );
			return false;

		});


	//GO TO SLIDE ON CLICK
	$('.item').on( 'click', 'a', function() {

		//get the value from the data attrib
	  var index = $(this).find('div').data("slide");

	  //Add loadstate
	  $('.opacity-load').addClass('active');

	  //go to that slide
	  gallery.flickity( 'select', index );

	  $.bbq.pushState( option );

	  return false;
	});


gallery.on( 'settle', function() {

   console.log("finish");
   classie.remove( container, 'container--open' );
   classie.remove( trigger, 'trigger--active' );

   $('.opacity-load').removeClass('active');

 });


});

	
</script>

<!-- Custom Scripts for Templates -->
{% block scripts %}
{% endblock %}

</body>
</html>