			{% layout "layout-inner" %}
			{% block content %}
			<!-- content -->
			<div id="container" class="container-fluid no-padding">

				<header class="intro">
					<!-- <img class="intro__image" src="{{'header03.jpg' | asset_url}}" alt="Iceland galcier"/> -->

						<!-- Flickity HTML init -->
						<div class="gallery gallery-main intro__image">
						  <div id="slide0" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_01.jpg' | asset_url}}" alt=""></div>
						  <div id="slide1" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_03.jpg' | asset_url}}" alt=""></div>
						  <div id="slide2" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_04.jpg' | asset_url}}" alt=""></div>
						  <div id="slide3" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_05.jpg' | asset_url}}" alt=""></div>
						  <div id="slide4" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_06.jpg' | asset_url}}" alt=""></div>
						  <div id="slide5" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_07.jpg' | asset_url}}" alt=""></div>
						  <div id="slide6" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_08.jpg' | asset_url}}" alt=""></div>
						  <div id="slide7" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_09.jpg' | asset_url}}" alt=""></div>
						  <div id="slide8" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_10.jpg' | asset_url}}" alt=""></div>
						  <div id="slide9" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_11.jpg' | asset_url}}" alt=""></div>
						  <div id="slide10" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_12.jpg' | asset_url}}" alt=""></div>
						  <div id="slide11" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_13.jpg' | asset_url}}" alt=""></div>
						  <div id="slide12" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_14.jpg' | asset_url}}" alt=""></div>
						  <div id="slide13" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_15.jpg' | asset_url}}" alt=""></div>
						  <div id="slide14" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_16.jpg' | asset_url}}" alt=""></div>
						  <div id="slide15" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_17.jpg' | asset_url}}" alt=""></div>
						  <div id="slide16" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_18.jpg' | asset_url}}" alt=""></div>
						  <div id="slide17" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_19.jpg' | asset_url}}" alt=""></div>
						  <div id="slide18" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_20.jpg' | asset_url}}" alt=""></div>
						  <!-- end section 1 -->
						  <!-- begin section 2 -->
						  <div id="slide19" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_21.jpg' | asset_url}}" alt=""></div>
						  <div id="slide20" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_22.jpg' | asset_url}}" alt=""></div>
						  <div id="slide21" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_23.jpg' | asset_url}}" alt=""></div>
						  <div id="slide22" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_24.jpg' | asset_url}}" alt=""></div>
						  <div id="slide23" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_25.jpg' | asset_url}}" alt=""></div>
						  <div id="slide24" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_26.jpg' | asset_url}}" alt=""></div>
						  <div id="slide25" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_27.jpg' | asset_url}}" alt=""></div>
						  <div id="slide26" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_28.jpg' | asset_url}}" alt=""></div>
						  <div id="slide27" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_29.jpg' | asset_url}}" alt=""></div>
						  <div id="slide28" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_30.jpg' | asset_url}}" alt=""></div>
						  <div id="slide29" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_31.jpg' | asset_url}}" alt=""></div>
						  <div id="slide30" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_32.jpg' | asset_url}}" alt=""></div>
						  <div id="slide31" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_33.jpg' | asset_url}}" alt=""></div>
						  <div id="slide32" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_34.jpg' | asset_url}}" alt=""></div>
						  <div id="slide34" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_35.jpg' | asset_url}}" alt=""></div>
						  <div id="slide35" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_36.jpg' | asset_url}}" alt=""></div>
						  <div id="slide36" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_37.jpg' | asset_url}}" alt=""></div>
						  <div id="slide37" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_38.jpg' | asset_url}}" alt=""></div>
						  <div id="slide38" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_39.jpg' | asset_url}}" alt=""></div>
						  <div id="slide39" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_40.jpg' | asset_url}}" alt=""></div>
						  <div id="slide40" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_41.jpg' | asset_url}}" alt=""></div>
						  <div id="slide41" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_42.jpg' | asset_url}}" alt=""></div>
						  <div id="slide42" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_43.jpg' | asset_url}}" alt=""></div>
						  <div id="slide43" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_44.jpg' | asset_url}}" alt=""></div>
						  <!-- end section 2 -->
							<!-- start section 3 -->
						  <div id="slide44" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_45.jpg' | asset_url}}" alt=""></div>
						  <div id="slide45" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_46.jpg' | asset_url}}" alt=""></div>
						  <div id="slide46" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_47.jpg' | asset_url}}" alt=""></div>
						  <div id="slide47" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_48.jpg' | asset_url}}" alt=""></div>
						  <div id="slide48" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_49.jpg' | asset_url}}" alt=""></div>
						  <div id="slide49" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_50.jpg' | asset_url}}" alt=""></div>
						  <div id="slide50" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_51.jpg' | asset_url}}" alt=""></div>
						  <div id="slide51" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_52.jpg' | asset_url}}" alt=""></div>
						  <div id="slide52" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_53.jpg' | asset_url}}" alt=""></div>
						  <div id="slide53" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_54.jpg' | asset_url}}" alt=""></div>
						  <div id="slide54" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_55.jpg' | asset_url}}" alt=""></div>
						  <div id="slide55" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_56.jpg' | asset_url}}" alt=""></div>
						  <div id="slide56" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_57.jpg' | asset_url}}" alt=""></div>
						  <div id="slide57" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_58.jpg' | asset_url}}" alt=""></div>
						  <div id="slide58" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_59.jpg' | asset_url}}" alt=""></div>
						  <div id="slide59" class="gallery-cell"><img src="{{'0428-Laurel-Island-full_Page_60.jpg' | asset_url}}" alt=""></div>


						
						</div>

						<div class="intro__content">
							<div class="intro__subtitle">
							<h1 class="intro__title">Choose a section</h1>
								<!-- <div class="codrops-links">
									<a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Development/ElasticSVGElements/" title="Previous Demo"><span>Previous Demo</span></a>
									<a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=21934" title="Back to the a"><span>Back to the Codrops a</span></a>
								</div> -->
								<!-- <div class="intro__description">
									A layout with a sliding header and an image grid. Photo courtesy of <a href="http://instagram.com/danrubin/">Dan Rubin</a>.
									<div class="demos">
										<a class="demos__item demos__item--current" href="index.html">Simple</a>
										<a class="demos__item" href="layout-multi.html">Multi</a>
									</div>
								</div> -->

								<!-- <div class="house">
									<a href="/">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="40.997px" height="40.998px" viewBox="0 0 611.997 611.998" style="enable-background:new 0 0 611.997 611.998; fill: #fff;" xml:space="preserve">
											<g>
												<g>
													<path d="M511.114,300.251c-9.94,0-17.638,7.663-17.638,17.651v241.105H368.401v-98.453c0-9.236-7.697-17.31-17.002-17.31h-90.435    c-9.948,0-17.96,8.073-17.96,17.31v98.453h-124.76v-233.1c0-9.306-7.69-17.036-17.638-17.036c-9.298,0-16.995,7.73-16.995,17.036    v250.752c0,9.305,7.697,17.036,16.995,17.036h160.358c9.298,0,16.995-7.731,16.995-17.036v-98.454h55.801v98.454    c0,9.305,7.697,17.036,17.639,17.036h159.715c9.299,0,16.995-7.731,16.995-17.036V317.903    C528.109,307.915,520.413,300.251,511.114,300.251z"/>
													<path d="M607.003,314.003L467.819,174.225V78.919c0-9.921-8.019-17.583-17.96-17.583c-9.305,0-17.001,7.663-17.001,17.583v60.345    L318.046,23.774c-3.518-3.558-7.697-5.474-11.864-5.474c-4.81,0-8.983,1.984-12.507,5.474L5.361,312.087    c-6.917,6.91-7.375,17.994,0,24.357c6.411,7.389,17.454,6.91,24.371,0l276.45-275.793l275.807,278.393    c2.873,2.874,7.054,4.516,12.507,4.516c4.81,0,8.976-1.642,12.507-4.516C613.42,332.613,613.899,320.982,607.003,314.003z"/>
												</g>
											</g>
										</svg>
									</a>
								</div> -->

								<button class="trigger trigger-right">
									<svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
										<g class="icon icon--grid">
											<rect x="32.5" y="5.5" width="22" height="22"/>
											<rect x="4.5" y="5.5" width="22" height="22"/>
											<rect x="32.5" y="33.5" width="22" height="22"/>
											<rect x="4.5" y="33.5" width="22" height="22"/>
										</g>
										<g class="icon icon--cross">
											<line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
											<line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
										</g>
									</svg>
									<span>View content</span>
								</button>
							</div>
							<div class="gradient-bottom"></div>
					</div>
					<!-- intro__content -->
				</header>

				<!-- intro -->
				<section class="items-wrap">

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="0" class="item__image--wrapper">
								<img class="item__image" src="{{'laurel-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Section 1</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="19" class="item__image--wrapper">
								<img class="item__image" src="{{'laurel-thumb-section2.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Section 2</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="43" class="item__image--wrapper">
								<img class="item__image" src="{{'laurel-thumb-section3.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Section 3</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="46" class="item__image--wrapper">
								<img class="item__image" src="{{'siteplan-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Site plan</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="4" class="item__image--wrapper">
								<img class="item__image" src="{{'first-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">#1 in the world</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="7" class="item__image--wrapper">
								<img class="item__image" src="{{'topten-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Top Ten Visitor Origin Areas</h2>
						</a>
					</div>


					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="24" class="item__image--wrapper">
								<img class="item__image" src="{{'guide-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Guiding Principles</h2>
						</a>
					</div>

					<div class="col-xs-12 col-sm-4 item">
						<a href="#">
							<div data-slide="30" class="item__image--wrapper">
								<img class="item__image" src="{{'facts-thumb.jpg' | asset_url}}" alt="item01"/>
							</div>
							<h2 class="item__title">Atlantic Station Facts</h2>
						</a>
					</div>
					
				</section>

				<div class="opacity-load">
					<h1>Loading Slide</h1>
					<div class="la-ball-grid-beat la-lg">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>

			</div><!-- container -->
			{% endblock %}